<div class="maincontent-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Search Products</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter Product Name" aria-label="product" aria-describedby="basic-addon1"  nz-input #prdSearchInput [nzAutocomplete]="auto">
                            <nz-autocomplete [nzDataSource]="options" nzBackfill #auto></nz-autocomplete>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-primary" (click)="onSearch()">Search</button>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="latest-product">
                    <h2 class="section-title">Latest Products</h2>
                    <div class="row">
                        <div class="col-md-4 mb-4 d-flex justify-content-center" *ngFor="let product of products">
                            <nz-card nzHoverable style="width:165px" [nzCover]="coverTemplate">
                                <nz-card-meta nzTitle={{product.title}} nzDescription={{product.price}}>
                                </nz-card-meta>
                                <p>{{product.category | uppercase}}</p>
                                <button type="button" class="btn btn-primary">Add to Cart</button>
                            </nz-card>
                            <ng-template #coverTemplate>
                                <img src={{product.image}} style="height: 190px;" />
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End main content area -->